{% extends 'base.html.twig' %}

{% block body %}
    {{ parent() }}
    <div class="box font-sans-serif">
        <div>
            <p style="text-align: center">
                <img src="{{ asset('app/img/spid-agid-logo-lb.png') }}" alt="AGID-SPID" style="max-width: 280px;display: inline-block;"/>
            </p>
            <p>SPID è il sistema di identità digitale, valido a livello nazionale, che consente di accedere ai servizi online della Pubblica Amministrazione e dei privati accreditati.</p>
            <p>Se sei già in possesso di un'identità digitale SPID, seleziona il gestore della tua identità dal menù a tendina.</p>
            <p>Se non hai ancora un'identità digitale, richiedila ad uno dei gestori.</p>
            <p style="text-align: center">
                <a href="#" class="italia-it-button italia-it-button-size-l button-spid"
                   spid-idp-button="#spid-idp-button-large-get" aria-haspopup="true" aria-expanded="false">
                    <span class="italia-it-button-icon">
                        <img src="{{ asset('app/img/spid-ico-circle-bb.svg') }}"
                             onerror="this.src='{{ asset('app/img/spid-ico-circle-bb.png') }}'; this.onerror=null;"
                             alt=""/>
                    </span>
                    <span class="italia-it-button-text">Entra con SPID</span>
                </a>
            </p>
        </div>
    </div>

    <div id="spid-idp-button-large-get" class="spid-idp-button spid-idp-button-tip spid-idp-button-relative">
        <ul id="spid-idp-list-large-root-get" class="spid-idp-button-menu" aria-labelledby="spid-idp">
            {% for idp in idp_list %}
            <li class="spid-idp-button-link" data-idp="{{ idp._identifier }}">
                <a href="{{ path('spid_login', {'idp': idp.ipa_entity_code}) }}">
                    <span class="spid-sr-only">{{ idp.entity_name }}</span>
                    <img style="box-sizing: content-box;" src="{{ asset("app/img/spid-idp-" ~ idp._identifier ~ ".svg") }}"
                         onerror="this.src='{{ asset("app/img/spid-idp-" ~ idp._identifier ~ ".png") }}'; this.onerror=null;"
                         alt="{{ idp.entity_name }}"/>
                </a>
            </li>
            {% endfor %}
            {% if idp_test %}
                <li class="spid-idp-button-link" data-idp="test" style="background-color: #eee">
                    <a href="{{ path('spid_login', {'idp': idp_test.identifier}) }}"
                       style="padding: 20px 10px;text-transform: uppercase">
                        {{ idp_test.name }}
                    </a>
                </li>
            {% endif %}
            <li class="spid-idp-support-link" data-spidlink="info">
                <a href="https://www.spid.gov.it">Maggiori informazioni</a>
            </li>
            <li class="spid-idp-support-link" data-spidlink="rich">
                <a href="https://www.spid.gov.it/richiedi-spid">Non hai SPID?</a>
            </li>
            <li class="spid-idp-support-link" data-spidlink="help">
                <a href="https://www.spid.gov.it/serve-aiuto">Serve aiuto?</a>
            </li>
        </ul>
    </div>

    {# validator workaround...  #}
    <div class="primary-bg primary-color primary-border-color border white-bg white-color white-border-color- primary-bg-a1 primary-color-a1 primary-border-color-a1 primary-bg-a2 primary-color-a2 primary-border-color-a2 primary-bg-a3 primary-color-a3 primary-border-color-a3 primary-bg-a4 primary-color-a4 primary-border-color-a4 primary-bg-a5 primary-color-a5 primary-border-color-a5 primary-bg-a6 primary-color-a6 primary-border-color-a6 primary-bg-a7 primary-color-a7 primary-border-color-a7 primary-bg-a8 primary-color-a8 primary-border-color-a8 primary-bg-a9 primary-color-a9 primary-border-color-a9 primary-bg-a10 primary-color-a10 primary-border-color-a10 primary-bg-a11 primary-color-a11 primary-border-color-a11 primary-bg-a12 primary-color-a12 primary-border-color-a12 primary-bg-b1 primary-color-b1 primary-border-color-b1 primary-bg-b2 primary-color-b2 primary-border-color-b2 primary-bg-b3 primary-color-b3 primary-border-color-b3 primary-bg-b4 primary-color-b4 primary-border-color-b4 primary-bg-b5 primary-color-b5 primary-border-color-b5 primary-bg-b6 primary-color-b6 primary-border-color-b6 primary-bg-b7 primary-color-b7 primary-border-color-b7 primary-bg-b8 primary-color-b8 primary-border-color-b8 primary-bg-c1 primary-color-c1 primary-border-color-c1 primary-bg-c2 primary-color-c2 primary-border-color-c2 primary-bg-c3 primary-color-c3 primary-border-color-c3 primary-bg-c4 primary-color-c4 primary-border-color-c4 primary-bg-c5 primary-color-c5 primary-border-color-c5 primary-bg-c6 primary-color-c6 primary-border-color-c6 primary-bg-c7 primary-color-c7 primary-border-color-c7 primary-bg-c8 primary-color-c8 primary-border-color-c8 primary-bg-c9 primary-color-c9 primary-border-color-c9 primary-bg-c10 primary-color-c10 primary-border-color-c10 primary-bg-c11 primary-color-c11 primary-border-color-c11 primary-bg-c12 primary-color-c12 primary-border-color-c12 analogue-1-bg analogue-1-color analogue-1-border-color- analogue-1-bg-a1 analogue-1-color-a1 analogue-1-border-color-a1 analogue-1-bg-a2 analogue-1-color-a2 analogue-1-border-color-a2 analogue-1-bg-a3 analogue-1-color-a3 analogue-1-border-color-a3 analogue-1-bg-a4 analogue-1-color-a4 analogue-1-border-color-a4 analogue-1-bg-a5 analogue-1-color-a5 analogue-1-border-color-a5 analogue-1-bg-a6 analogue-1-color-a6 analogue-1-border-color-a6 analogue-1-bg-a7 analogue-1-color-a7 analogue-1-border-color-a7 analogue-1-bg-a8 analogue-1-color-a8 analogue-1-border-color-a8 analogue-1-bg-a9 analogue-1-color-a9 analogue-1-border-color-a9 analogue-1-bg-a10 analogue-1-color-a10 analogue-1-border-color-a10 analogue-1-bg-a11 analogue-1-color-a11 analogue-1-border-color-a11 analogue-1-bg-a12 analogue-1-color-a12 analogue-1-border-color-a12 analogue-2-bg analogue-2-color analogue-2-border-color- analogue-2-bg-a1 analogue-2-color-a1 analogue-2-border-color-a1 analogue-2-bg-a2 analogue-2-color-a2 analogue-2-border-color-a2 analogue-2-bg-a3 analogue-2-color-a3 analogue-2-border-color-a3 analogue-2-bg-a4 analogue-2-color-a4 analogue-2-border-color-a4 analogue-2-bg-a5 analogue-2-color-a5 analogue-2-border-color-a5 analogue-2-bg-a6 analogue-2-color-a6 analogue-2-border-color-a6 analogue-2-bg-a7 analogue-2-color-a7 analogue-2-border-color-a7 analogue-2-bg-a8 analogue-2-color-a8 analogue-2-border-color-a8 analogue-2-bg-a9 analogue-2-color-a9 analogue-2-border-color-a9 analogue-2-bg-a10 analogue-2-color-a10 analogue-2-border-color-a10 analogue-2-bg-a11 analogue-2-color-a11 analogue-2-border-color-a11 analogue-2-bg-a12 analogue-2-color-a12 analogue-2-border-color-a12 complementary-1-bg complementary-1-color complementary-1-border-color- complementary-1-bg-a1 complementary-1-color-a1 complementary-1-border-color-a1 complementary-1-bg-a2 complementary-1-color-a2 complementary-1-border-color-a2 complementary-1-bg-a3 complementary-1-color-a3 complementary-1-border-color-a3 complementary-1-bg-a4 complementary-1-color-a4 complementary-1-border-color-a4 complementary-1-bg-a5 complementary-1-color-a5 complementary-1-border-color-a5 complementary-1-bg-a6 complementary-1-color-a6 complementary-1-border-color-a6 complementary-1-bg-a7 complementary-1-color-a7 complementary-1-border-color-a7 complementary-1-bg-a8 complementary-1-color-a8 complementary-1-border-color-a8 complementary-1-bg-a9 complementary-1-color-a9 complementary-1-border-color-a9 complementary-1-bg-a10 complementary-1-color-a10 complementary-1-border-color-a10 complementary-1-bg-a11 complementary-1-color-a11 complementary-1-border-color-a11 complementary-1-bg-a12 complementary-1-color-a12 complementary-1-border-color-a12 complementary-2-bg complementary-2-color complementary-2-border-color- complementary-2-bg-a1 complementary-2-color-a1 complementary-2-border-color-a1 complementary-2-bg-a2 complementary-2-color-a2 complementary-2-border-color-a2 complementary-2-bg-a3 complementary-2-color-a3 complementary-2-border-color-a3 complementary-2-bg-a4 complementary-2-color-a4 complementary-2-border-color-a4 complementary-2-bg-a5 complementary-2-color-a5 complementary-2-border-color-a5 complementary-2-bg-a6 complementary-2-color-a6 complementary-2-border-color-a6 complementary-2-bg-a7 complementary-2-color-a7 complementary-2-border-color-a7 complementary-2-bg-a8 complementary-2-color-a8 complementary-2-border-color-a8 complementary-2-bg-a9 complementary-2-color-a9 complementary-2-border-color-a9 complementary-2-bg-a10 complementary-2-color-a10 complementary-2-border-color-a10 complementary-2-bg-a11 complementary-2-color-a11 complementary-2-border-color-a11 complementary-2-bg-a12 complementary-2-color-a12 complementary-2-border-color-a12 complementary-3-bg complementary-3-color complementary-3-border-color- complementary-3-bg-a1 complementary-3-color-a1 complementary-3-border-color-a1 complementary-3-bg-a2 complementary-3-color-a2 complementary-3-border-color-a2 complementary-3-bg-a3 complementary-3-color-a3 complementary-3-border-color-a3 complementary-3-bg-a4 complementary-3-color-a4 complementary-3-border-color-a4 complementary-3-bg-a5 complementary-3-color-a5 complementary-3-border-color-a5 complementary-3-bg-a6 complementary-3-color-a6 complementary-3-border-color-a6 complementary-3-bg-a7 complementary-3-color-a7 complementary-3-border-color-a7 complementary-3-bg-a8 complementary-3-color-a8 complementary-3-border-color-a8 complementary-3-bg-a9 complementary-3-color-a9 complementary-3-border-color-a9 complementary-3-bg-a10 complementary-3-color-a10 complementary-3-border-color-a10 complementary-3-bg-a11 complementary-3-color-a11 complementary-3-border-color-a11 complementary-3-bg-a12 complementary-3-color-a12 complementary-3-border-color-a12 analogue-1-bg-b1 analogue-1-color-b1 analogue-1-border-color-b1 analogue-1-bg-b2 analogue-1-color-b2 analogue-1-border-color-b2 analogue-1-bg-b3 analogue-1-color-b3 analogue-1-border-color-b3 analogue-1-bg-b4 analogue-1-color-b4 analogue-1-border-color-b4 analogue-1-bg-b5 analogue-1-color-b5 analogue-1-border-color-b5 analogue-1-bg-b6 analogue-1-color-b6 analogue-1-border-color-b6 analogue-1-bg-b7 analogue-1-color-b7 analogue-1-border-color-b7 analogue-1-bg-b8 analogue-1-color-b8 analogue-1-border-color-b8 analogue-2-bg-b1 analogue-2-color-b1 analogue-2-border-color-b1 analogue-2-bg-b2 analogue-2-color-b2 analogue-2-border-color-b2 analogue-2-bg-b3 analogue-2-color-b3 analogue-2-border-color-b3 analogue-2-bg-b4 analogue-2-color-b4 analogue-2-border-color-b4 analogue-2-bg-b5 analogue-2-color-b5 analogue-2-border-color-b5 analogue-2-bg-b6 analogue-2-color-b6 analogue-2-border-color-b6 analogue-2-bg-b7 analogue-2-color-b7 analogue-2-border-color-b7 analogue-2-bg-b8 analogue-2-color-b8 analogue-2-border-color-b8 complementary-1-bg-b1 complementary-1-color-b1 complementary-1-border-color-b1 complementary-1-bg-b2 complementary-1-color-b2 complementary-1-border-color-b2 complementary-1-bg-b3 complementary-1-color-b3 complementary-1-border-color-b3 complementary-1-bg-b4 complementary-1-color-b4 complementary-1-border-color-b4 complementary-1-bg-b5 complementary-1-color-b5 complementary-1-border-color-b5 complementary-1-bg-b6 complementary-1-color-b6 complementary-1-border-color-b6 complementary-1-bg-b7 complementary-1-color-b7 complementary-1-border-color-b7 complementary-1-bg-b8 complementary-1-color-b8 complementary-1-border-color-b8 complementary-2-bg-b1 complementary-2-color-b1 complementary-2-border-color-b1 complementary-2-bg-b2 complementary-2-color-b2 complementary-2-border-color-b2 complementary-2-bg-b3 complementary-2-color-b3 complementary-2-border-color-b3 complementary-2-bg-b4 complementary-2-color-b4 complementary-2-border-color-b4 complementary-2-bg-b5 complementary-2-color-b5 complementary-2-border-color-b5 complementary-2-bg-b6 complementary-2-color-b6 complementary-2-border-color-b6 complementary-2-bg-b7 complementary-2-color-b7 complementary-2-border-color-b7 complementary-2-bg-b8 complementary-2-color-b8 complementary-2-border-color-b8 complementary-3-bg-b1 complementary-3-color-b1 complementary-3-border-color-b1 complementary-3-bg-b2 complementary-3-color-b2 complementary-3-border-color-b2 complementary-3-bg-b3 complementary-3-color-b3 complementary-3-border-color-b3 complementary-3-bg-b4 complementary-3-color-b4 complementary-3-border-color-b4 complementary-3-bg-b5 complementary-3-color-b5 complementary-3-border-color-b5 complementary-3-bg-b6 complementary-3-color-b6 complementary-3-border-color-b6 complementary-3-bg-b7 complementary-3-color-b7 complementary-3-border-color-b7 complementary-3-bg-b8 complementary-3-color-b8 complementary-3-border-color-b8 neutral-1-bg neutral-1-color neutral-1-border-color- neutral-1-bg-a1 neutral-1-color-a1 neutral-1-border-color-a1 neutral-1-bg-a2 neutral-1-color-a2 neutral-1-border-color-a2 neutral-1-bg-a3 neutral-1-color-a3 neutral-1-border-color-a3 neutral-1-bg-a4 neutral-1-color-a4 neutral-1-border-color-a4 neutral-1-bg-a5 neutral-1-color-a5 neutral-1-border-color-a5 neutral-1-bg-a6 neutral-1-color-a6 neutral-1-border-color-a6 neutral-1-bg-a7 neutral-1-color-a7 neutral-1-border-color-a7 neutral-1-bg-a8 neutral-1-color-a8 neutral-1-border-color-a8 neutral-1-bg-a9 neutral-1-color-a9 neutral-1-border-color-a9 neutral-1-bg-a10 neutral-1-color-a10 neutral-1-border-color-a10 neutral-2-bg neutral-2-color neutral-2-border-color- neutral-2-bg-b1 neutral-2-color-b1 neutral-2-border-color-b1 neutral-2-bg-b2 neutral-2-color-b2 neutral-2-border-color-b2 neutral-2-bg-b3 neutral-2-color-b3 neutral-2-border-color-b3 neutral-2-bg-b4 neutral-2-color-b4 neutral-2-border-color-b4 neutral-2-bg-b5 neutral-2-color-b5 neutral-2-border-color-b5 neutral-2-bg-b6 neutral-2-color-b6 neutral-2-border-color-b6 neutral-2-bg-b7 neutral-2-color-b7 neutral-2-border-color-b7 neutral-2-bg-a1 neutral-2-color-a1 neutral-2-border-color-a1 neutral-2-bg-a2 neutral-2-color-a2 neutral-2-border-color-a2 neutral-2-bg-a3 neutral-2-color-a3 neutral-2-border-color-a3 neutral-2-bg-a4 neutral-2-color-a4 neutral-2-border-color-a4 neutral-2-bg-a5 neutral-2-color-a5 neutral-2-border-color-a5 neutral-2-bg-a6 neutral-2-color-a6 neutral-2-border-color-a6 neutral-2-bg-a7 neutral-2-color-a7 neutral-2-border-color-a7 lightgrey-bg-a1 lightgrey-color-a1 lightgrey-border-color-a1 lightgrey-bg-a2 lightgrey-color-a2 lightgrey-border-color-a2 lightgrey-bg-a3 lightgrey-color-a3 lightgrey-border-color-a3 lightgrey-bg-a4 lightgrey-color-a4 lightgrey-border-color-a4 lightgrey-bg-b1 lightgrey-color-b1 lightgrey-border-color-b1 lightgrey-bg-b2 lightgrey-color-b2 lightgrey-border-color-b2 lightgrey-bg-b3 lightgrey-color-b3 lightgrey-border-color-b3 lightgrey-bg-b4 lightgrey-color-b4 lightgrey-border-color-b4 lightgrey-bg-c1 lightgrey-color-c1 lightgrey-border-color-c1 lightgrey-bg-c2 lightgrey-color-c2 lightgrey-border-color-c2 5 2121212121 55 2033898305 625 15 175 25 h6 h5 h4 h3 h2 h1 2 375rem 5vw 5rem 325rem 9vw 3rem 6vw 75rem 275rem 3vw 25rem small 777rem mark 1875em 75em 25em 5em 1875rem lead display-1 625rem display-2 575rem display-3 525rem display-4 475rem 7vw display-5 425rem 1vw display-6 list-unstyled list-inline list-inline-item initialism blockquote blockquote-footer img-fluid img-thumbnail 125rem 075 figure figure-img figure-caption container container-fluid container-xxl container-xl container-lg container-md container-sm row col row-cols-auto row-cols-1 row-cols-2 row-cols-3 3333333333 row-cols-4 row-cols-5 row-cols-6 6666666667 col-auto col-1 33333333 col-2 66666667 col-3 col-4 col-5 col-6 col-7 col-8 col-9 col-10 col-11 col-12 offset-1 offset-2 offset-3 offset-4 offset-5 offset-6 offset-7 offset-8 offset-9 offset-10 offset-11 g-0 gx-0 gy-0 g-1 gx-1 gy-1 g-2 gx-2 gy-2 g-3 gx-3 gy-3 g-4 gx-4 gy-4 g-5 gx-5 gy-5 col-sm row-cols-sm-auto row-cols-sm-1 row-cols-sm-2 row-cols-sm-3 row-cols-sm-4 row-cols-sm-5 row-cols-sm-6 col-sm-auto col-sm-1 col-sm-2 col-sm-3 col-sm-4 col-sm-5 col-sm-6 col-sm-7 col-sm-8 col-sm-9 col-sm-10 col-sm-11 col-sm-12 offset-sm-0 offset-sm-1 offset-sm-2 offset-sm-3 offset-sm-4 offset-sm-5 offset-sm-6 offset-sm-7 offset-sm-8 offset-sm-9 offset-sm-10 offset-sm-11 g-sm-0 gx-sm-0 gy-sm-0 g-sm-1 gx-sm-1 gy-sm-1 g-sm-2 gx-sm-2 gy-sm-2 g-sm-3 gx-sm-3 gy-sm-3 g-sm-4 gx-sm-4 gy-sm-4 g-sm-5 gx-sm-5 gy-sm-5 col-md row-cols-md-auto row-cols-md-1 row-cols-md-2 row-cols-md-3 row-cols-md-4 row-cols-md-5 row-cols-md-6 col-md-auto col-md-1 col-md-2 col-md-3 col-md-4 col-md-5 col-md-6 col-md-7 col-md-8 col-md-9 col-md-10 col-md-11 col-md-12 offset-md-0 offset-md-1 offset-md-2 offset-md-3 offset-md-4 offset-md-5 offset-md-6 offset-md-7 offset-md-8 offset-md-9 offset-md-10 offset-md-11 g-md-0 gx-md-0 gy-md-0 g-md-1 gx-md-1 gy-md-1 g-md-2 gx-md-2 gy-md-2 g-md-3 gx-md-3 gy-md-3 g-md-4 gx-md-4 gy-md-4 g-md-5 gx-md-5 gy-md-5 col-lg row-cols-lg-auto row-cols-lg-1 row-cols-lg-2 row-cols-lg-3 row-cols-lg-4 row-cols-lg-5 row-cols-lg-6 col-lg-auto col-lg-1 col-lg-2 col-lg-3 col-lg-4 col-lg-5 col-lg-6 col-lg-7 col-lg-8 col-lg-9 col-lg-10 col-lg-11 col-lg-12 offset-lg-0 offset-lg-1 offset-lg-2 offset-lg-3 offset-lg-4 offset-lg-5 offset-lg-6 offset-lg-7 offset-lg-8 offset-lg-9 offset-lg-10 offset-lg-11 g-lg-0 gx-lg-0 gy-lg-0 g-lg-1 gx-lg-1 gy-lg-1 g-lg-2 gx-lg-2 gy-lg-2 g-lg-3 gx-lg-3 gy-lg-3 g-lg-4 gx-lg-4 gy-lg-4 g-lg-5"
         style="display:none !important"></div>
{% endblock %}

{% block stylesheets %}
    <link type="text/css" rel="stylesheet" href="{{ asset('app/css/spid-sp-access-button.min.css') }}"/>
    <link type="text/css" rel="stylesheet" href="{{ asset('app/css/bootstrap-italia.min.css') }}"/>
    <style>
        html, body {
            height: 100%;
        }

        body {
            margin: 0;
        }

        .box {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 30%;
        }

        .box div {
            width: 280px;
            margin: 0 20px;
            height: 100px;
            text-align: left;
        }

        .box p{
            font-family: "Titillium Web",HelveticaNeue-Light,"Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
            font-size: 1rem;
        }
    </style>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('app/js/spid-sp-access-button.min.js') }}"></script>
    <script src="{{ asset('app/js/bootstrap-italia.min.js') }}"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            var rootList = $("#spid-idp-list-large-root-get");
            var idpList = rootList.children(".spid-idp-button-link");
            var lnkList = rootList.children(".spid-idp-support-link");
            while (idpList.length) {
                rootList.append(idpList.splice(Math.floor(Math.random() * idpList.length), 1)[0]);
            }
            rootList.append(lnkList);
        });
        window.__PUBLIC_PATH__ = "https://static.opencityitalia.it/fonts";
        bootstrap.loadFonts()
    </script>
{% endblock %}
