{% extends '@!EasyAdmin/layout.html.twig' %}
{% form_theme config_form '@EasyAdmin/crud/form_theme.html.twig' %}

{% block content_header_wrapper %}
    <section class="content-header">
        <div class="d-flex flex-row justify-content-between align-content-center w-100">
            <div class="content-header-title">
                <h1 class="title">
                    Config Builder
                </h1>
            </div>
        </div>
    </section>
{% endblock content_header_wrapper %}

{% block main %}
    <div class="content-panel">
        <div class="content-panel-body with-rounded-top with-min-h-250 without-header without-footer">
            {{ form(config_form) }}

            {% if data|length > 0 %}

<h5>Configurazioni dell'entrypoint dall'applicazione</h5>
<pre>
your_caddy_or_nginx_or_varnish:
  labels:
    ...
    traefik.http.routers.your_caddy_or_nginx_or_varnish_router.rule: 'Host(`{{ data.application_host }}`) {% if data.application_path_prefix|length > 0 %}&& PathPrefix(`{{ data.application_path_prefix }}`)'{% endif %}

    traefik.http.routers.your_caddy_or_nginx_or_varnish_router.middlewares: "{{ data.oauth2_client.identifier }}-forward-auth"
    ...
</pre>

<h5>Configurazioni dell'auth forwarder</h5>
<pre>
{{ data.oauth2_client.identifier }}-auth:
  image: thomseddon/traefik-forward-auth:2
  networks:
  - traefik
  environment:
    LOG_LEVEL: trace
    LOG_FORMAT: pretty
    DEFAULT_PROVIDER: generic-oauth
    PROVIDERS_GENERIC_OAUTH_CLIENT_ID: {{ data.oauth2_client.identifier }}
    PROVIDERS_GENERIC_OAUTH_CLIENT_SECRET: {{ data.oauth2_client.secret }}
    PROVIDERS_GENERIC_OAUTH_AUTH_URL: {{ data.tenant.openLoginUri }}authorize
    PROVIDERS_GENERIC_OAUTH_TOKEN_URL: http://{{ data.openlogin_container_name }}:2015/token
    PROVIDERS_GENERIC_OAUTH_USER_URL: http://{{ data.openlogin_container_name }}:2015/api/user
    LOGOUT_REDIRECT: {{ data.tenant.openLoginUri }}logout?redirect={{ data.application_logout_redirect }}
    SECRET: '{{ data.secret }}'
    COOKIE_NAME: '_fa_{{ data.oauth2_client.identifier }}'
    CSRF_COOKIE_NAME: '_fac_{{ data.oauth2_client.identifier }}'
    URL_PATH: '{{ data.application_path_prefix }}/_oauth'
  deploy:
    placement:
      constraints: [engine.labels.jobs-type == stateless]
    replicas: 1
    resources:
      limits:
        cpus: '0.5'
        memory: 128M
      reservations:
        cpus: '0.1'
        memory: 64M
    update_config:
      parallelism: 1
      order: start-first
      delay: 10s
      failure_action: rollback
      monitor: 10s
    rollback_config:
      parallelism: 1
      delay: 10s
      failure_action: pause
      monitor: 10s
      order: start-first
    restart_policy:
      condition: any
      delay: 15s
      max_attempts: 50
      window: 20s
    labels:
      traefik.enable: 'true'
      traefik.http.services.{{ data.oauth2_client.identifier }}-auth.loadbalancer.server.port: 4181
      traefik.http.middlewares.{{ data.oauth2_client.identifier }}-forward-auth.forwardauth.address: 'http://{{ data.oauth2_client.identifier }}-auth:4181'
      traefik.http.middlewares.{{ data.oauth2_client.identifier }}-forward-auth.forwardauth.authResponseHeaders: "X-Forwarded-User"
      traefik.http.middlewares.{{ data.oauth2_client.identifier }}-forward-auth.forwardauth.trustForwardHeader: true

</pre>

<h5>Configurazioni di OpenLogin</h5>
<pre>
{{ data.openlogin_container_name }}:
  image: registry.gitlab.com/opencontent/openlogin-oauth/master:latest
  labels:
    ...
    traefik.http.routers.{{ data.openlogin_container_name }}-http.rule: Host(`...`, `{{ data.tenant.openLoginUri|replace({'https://': '', 'http://': ''})|trim('/', 'right') }}`)
    ...
</pre>

{% if data.has_instances_yml %}
<h5>Il file <code>instances.yml</code> va configurato con:</h5>
<pre>
instances:
  your_instance:
    ...
    login_route: login_open
    single_logout_url: '{{ data.application_path_prefix }}/_oauth/logout'
    ...
</pre>
{% endif %}


            {% endif %}

        </div>
    </div>

{% endblock %}