{% extends '@!EasyAdmin/layout.html.twig' %}
{% form_theme client_form '@EasyAdmin/crud/form_theme.html.twig' %}

{% block content_header_wrapper %}
    <section class="content-header">
        <div class="d-flex flex-row justify-content-between align-content-center w-100">
            <div class="content-header-title">
                <h1 class="title">
                    Create new Oauth2 Client
                </h1>
            </div>
            <div class="page-actions">
                <a class="action-new btn btn-default" href="{{ path( 'admin_list_clients' ) }}" data-action-name="new">Back to list</a>
            </div>
        </div>
    </section>
{% endblock content_header_wrapper %}

{% block main %}
    <div class="content-panel">
        <div class="content-panel-body with-rounded-top with-min-h-250 without-header without-footer">
            {{ form(client_form) }}
        </div>
    </div>

{% endblock %}