{% extends '@!EasyAdmin/layout.html.twig' %}

{% block content_header_wrapper %}
    <section class="content-header">
        <div class="d-flex flex-row justify-content-between align-content-center w-100">
            <div class="content-header-title">
                <h1 class="title">
                    Oauth2 Clients
                </h1>
            </div>
            <div class="page-actions">
                <a class="action-new btn btn-primary" href="{{ path( 'admin_edit_client' ) }}" data-action-name="new">Add new</a>
            </div>
        </div>
    </section>
{% endblock content_header_wrapper %}

{% block main %}
    <div class="content-panel">
        <div class="content-panel-body with-rounded-top without-padding without-footer">
            <table class="table datagrid with-rounded-top">
                <thead>
                <tr>
                    <th><span>Name</span></th>
                    <th><span>Identifier</span></th>
                    <th><span>Secret</span></th>
                    <th><span>Redirect uri</span></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for client in clients %}
                    <tr>
                        <td><span title="Name">{{ client.name }}</span></td>
                        <td><span title="Identifier">{{ client.identifier }}</span></td>
                        <td><span title="Secret"><code style="max-width: 250px;display: inline-block;">{{ client.secret }}</code></span></td>
                        <td><span title="Redirect uri">{{ client.redirectUris|join(', ') }}</span></td>
                        <td class="actions">
                            <a class="btn btn-link" href="{{ path( 'admin_edit_client', {'identifier': client.identifier} ) }}">
                                Edit
                            </a>
                            <a class="btn btn-link text-danger" href="{{ path( 'admin_delete_client', {'identifier': client.identifier} ) }}">
                                Delete
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}