{% extends 'base.html.twig' %}

{% block body %}
    <div class="box">
        <div>
            <h4><code>Errore!</code></h4>
            <pre style="white-space: normal;border: 1px solid;padding: 10px;">{{ error }}</pre>
            {% if mail_support is defined %}
                <p><a href="mailto:{{ mail_support }}"><code>Contatta il supporto</code></a></p>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    <link type="text/css" rel="stylesheet" href="{{ asset('app/css/spid-sp-access-button.min.css') }}"/>
    <style>
        html, body {
            height: 100%;
        }

        body {
            margin: 0;
            font-size: 1.5em;
        }

        .box {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 50%;
        }

        .box div {
            width: 50%;
            height: 100px;
            text-align: center;
            max-width: 500px;
        }
    </style>
{% endblock %}