{# @var ea \EasyCorp\Bundle\EasyAdminBundle\Context\AdminContext #}
{% extends '@!EasyAdmin/crud/form_theme.html.twig' %}

{% block collection_entry_widget %}
    {% set is_array_field = 'EasyCorp\\Bundle\\EasyAdminBundle\\Field\\ArrayField' == form_parent(form).vars.ea_crud_form.ea_field.fieldFqcn ?? false %}
    {% set is_complex = form_parent(form).vars.ea_crud_form.ea_field.customOptions.get('entryIsComplex') ?? false %}
    {% set allows_deleting_items = form_parent(form).vars.allow_delete|default(false) %}
    {% set render_expanded = form_parent(form).vars.ea_crud_form.ea_field.customOptions.get('renderExpanded') ?? false %}
    {% set delete_item_button %}
        <button type="button" class="btn btn-link btn-link-danger field-collection-delete-button"
                title="{{ 'action.remove_item'|trans({}, 'EasyAdminBundle') }}">
            <i class="far fa-trash-alt"></i>
        </button>
    {% endset %}

    <div class="field-collection-item {{ is_complex ? 'field-collection-item-complex' }}">
        {% if is_array_field|default(false) %}
            {{ form_widget(form) }}
            {% if allows_deleting_items %}
                {{ delete_item_button }}
            {% endif %}
        {% else %}
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button {{ render_expanded ? '' : 'collapsed' }}" type="button" data-bs-toggle="collapse" data-bs-target="#{{ id }}-contents">
                        <i class="fas fw fa-chevron-right form-collection-item-collapse-marker"></i>
                        {{ value|ea_as_string }}
                    </button>

                    {% if allows_deleting_items %}
                        {{ delete_item_button }}
                    {% endif %}
                    {% if id starts with 'Tenant_certificates_' %}
                        <a href="#" data-item="{{ id }}" class="btn btn-link btn-sm create-certificate-link"><i class="fa fa-copy"></i> (Re)Generate certificate</a>
                    {% endif %}

                    {% if id starts with 'RelyingPartyClient_federationCertificates_' %}
                        <a href="#" data-item="{{ id }}" class="btn btn-link btn-sm create-certificate-link"><i class="fa fa-copy"></i> (Re)Generate certificate</a>
                    {% endif %}

                    {% if id starts with 'RelyingPartyClient_coreCertificates_' %}
                        <a href="#" data-item="{{ id }}" class="btn btn-link btn-sm create-certificate-link"><i class="fa fa-copy"></i> (Re)Generate certificate</a>
                    {% endif %}

                    {% if id starts with 'Tenant_assertionConsumerServices_' %}
                        <a href="#" data-item="{{ id }}" class="btn btn-link btn-sm generate-acs-link"><i class="fa fa-refresh"></i> (Re)Generate from open login url</a>
                    {% endif %}
                    {% if id starts with 'Tenant_singleLogoutServices_' %}
                        <a href="#" data-item="{{ id }}" class="btn btn-link btn-sm generate-slo-link"><i class="fa fa-refresh"></i> (Re)Generate from open login url</a>
                    {% endif %}
                    {% if id starts with 'Tenant_attributeConsumingServices_' %}
                        <a href="#" data-item="{{ id }}" class="btn btn-link btn-sm toggle-acs"><i class="fa fa-check"></i> Toggle selection</a>
                    {% endif %}

                </h2>
                <div id="{{ id }}-contents" class="accordion-collapse collapse {{ render_expanded ? 'show' }}">
                    <div class="accordion-body">
                        {{ form_widget(form) }}
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock collection_entry_widget %}